body {
    background-color: rgb(96, 197, 255);
    padding: 3%;
    color: navy;
}
a {color: black;}
svg {border: 1px solid black;}
#titleSect
{
    border: 1px solid black;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}