body {
    background-color: rgb(96, 197, 255);
    padding: 3%;
    color: rgb(0, 92, 142);
    font-size: 2%;
}
div
{
    margin-bottom: 15px;
    margin-top: 15px;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    
}
#flexSect
{
    display: flex;
    flex-wrap: wrap;
}
#flexSect div
{
    margin: 5%;
}
h4
{
    text-align: center;
}
svg {
    border: 1px solid black;
}
li
{
    margin: 5%;
    padding-left: 2%;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    text-align: center;
}  
#titleSect {
    border: 1px solid black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    background-color: rgb(0, 92, 142);
    color: rgb(149, 216, 255);
}

#langSect, #otherSect, #hobbySect{
    border: 1px solid black;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    padding: 10px;
    min-width: fit-content;
    max-width: 20%;
    border: 1px solid black;
}
#explanationSect
{
    width: auto;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    border: 1px solid black;
    
}
#profileImage
{
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}